.InputGroup {
  .wmButton {
    border-radius: 0;
    min-width: 250px;

    background: var(
      --WM-Gradient,
      radial-gradient(
        123.16% 146.84% at 0% 100%,
        #1a4b84 0%,
        #550539 45%,
        #43022a 54%,
        #020000 100%
      )
    );

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  .wmButton:hover:not(:disabled) {
    background: linear-gradient(90deg, #ffd303 -21.26%, #ff9914 100.59%);
    color: black;
  }
}
