.wrapper {
  position: relative;
  padding-top: rem(130px);
  padding-bottom: rem(80px);
  background-image: url(/online-grocery/images/banner.jpg);
  background-size: cover;
  background-position: center;

  @media (max-width: 400px) {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
  }

  .inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-weight: 500;
      font-size: 68px;
      color: white;

      @media (max-width: 600px) {
        font-size: 42px;
      }
    }
  }
}
